@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <p>Member ID : @Model.VdmtMemberId</p>
    <p>Username : @Model.VdmtUserName</p>
    <p>Password : @Model.VdmtPassword</p>
    <p>Fullname : @Model.VdmtFullName</p>
    <p>Email : @Model.VdmtEmail</p>
</div>
